<div class="container-fluid">
    <div id="Home" class="row align-items-center hero">

        <div class="col-lg-3 offset-lg-2">

            <h1 class="ti">SuPlacard</h1>
            <p><span class="parrr">dedicada a la creación e instalación de cocinas, placares y vestidores.<br>
                    La fábrica de 2.200 m2 cubiertos, equipada con maquinarias de última tecnología, abastece para su
                    comodidad, a los locales propios de atención en la zona de Floresta, Belgrano, Martinez, Castelar y
                    La Tablada, así como una gran red de distribuidores en todo el país.</span></p>

        </div>
    </div>
</div>

<div class="row my-3">

    <div id="novedades" class="col-md-5 offset-md-2 py-3">

        <h2 class="ti"><strong>NOVEDADES</strong></h2>
        {{#each novedades}}
        <ul class="lista-novedades">

            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal{{id}}"><img src="{{imagen}}">
                    {{titulo}}</a></li>
            {{/each}}
        </ul>

    </div><!--cierra novedades --><!--inicio modal -->

    {{#each novedades}}
    <div class="modal fade" id="exampleModal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title negro fs-5" id="exampleModalLabel">{{titulo}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body negro">
                    <img src="{{imagen}}">
                    <h3>{{subtitulo}}</h3>
                    <p>{{cuerpo}}</p>
                </div>

            </div>
        </div>
    </div>

    {{/each}}
    <!--FIN MODAL -->


    <div class="col-md-3 my-3">
        <div class="rounded py-5 testimonios">
            <h2 class="text-center">Testimonios</h2>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="testimonio">
                                <h5>Excelente servicio, todo muy prolijo</h5>
                                <p>Rodriguez Alejandro</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonio">
                                <h5>Buena predisposición, puntualidad y prolijidad</h5>
                                <p>Bascuas Carolina</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonio">
                                <h5>Todo en tiempo y forma, muy satisfecha</h5>
                                <p>Cuenca Diana</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--INICIO DE HISTORIA -->

    <div id="historia" class="row align-items-center  py-4">
        <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
            <img src="images/TABLADA-6.jpg" alt="historia 1" class="img-fluid">

        </div>

        <div class="col-lg-2 col-md-3 d-none d-sm-block">
            <img src="images/OIP.jpg" alt="historia 2" class="img-fluid">

        </div>

        <div class="col-12 d-sm-none">

            <img src="images/33.jpg" alt="historia 3" class="img-fluid">

        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-sm-0 parrr">

            <h2> Nuestra historia</h2>

            <p>Su Placard es una empresa con 40 años de trayectoria, que avalan su experiencia en el ramo,
                dedicada a la producción de interiores de placards, vestidores, revestimientos, frentes de
                placards y frentes para obras a medida..</p>

        </div>

    </div>
    <!--CIERRE DE HISTORIA -->
    <!--INICIO NOSOTROS -->

    <div class="card mb-3 staff">
        <img src="images/TABLADA-6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title parr">NOSOTROS</h5>
            <p class="card-text prueba">Partiendo de su idea le brindamos nuestros conocimientos, nuestra tecnología y
                lo
                más importante, el material humano para que juntos lleguemos a la concreción de lo que usted
                buscaba: confort, calidad y costo.<br>

                Nuestros productos están realizados con materiales de la más alta calidad, y el proceso de éstos se
                realiza con maquinarias de última tecnología. Realizamos diseños de líneas sobrias, adaptables a
                muchos estilos de vida, obteniendo el mejor espacio para la organización de su vestimenta.<br>

                Esto le permitirá disfrutar del equilibrio perfecto entre formas y volúmenes, siendo de esta manera
                ideal para quienes buscan fundamentalmente funcionalidad, diseño y elegancia. Nuestro trabajo
                comienza cuando usted llega, escuchamos lo que necesita, lo asesoramos y juntos armamos su
                proyecto.<br>
            </p>
            <p class="card-text"><small class="text-body-secondary"></small></p>
        </div>
    </div>
    <!--fin NOSOTROS -->
    <!--INICIO mapa mas formulario -->
    <div id="contactanos" class="row py-4">
        <div class="col-md-4 offset-md-2">

            <h2>Visitanos</h2>

            <div class="mapa">

                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52559.515913522446!2d-58.50475977832031!3d-34.57963209999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5910a25c35f%3A0xd6cb2de110e2f29d!2sSu%20Placard!5e0!3m2!1ses-419!2sar!4v1685663613837!5m2!1ses-419!2sar"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>


            </div>

        </div> <!-- cierra div con id visitanos-->
        <div class="col-md-4 mt-4 mt-sm-0 ">
            <h2>Contáctanos </h2>

            <form class="row g-3" action="/" method="post">
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre">
                </div>

                <div class="col-md-6">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido">
                </div>

                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="email@ejemplo.com">
                </div>

                <div class="col-12">
                    <label for="telefono" class="form-label">Telefono</label>
                    <input type="text" class="form-control" id="telefono" name="telefono" placeholder="...">
                </div>

                <div class="col-12">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="mensaje" name="mensaje" rows="3"></textarea>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
            <p>{{message}}</p>
        </div>


        <h2>LOCALES</h2>
        <div><!-- Vertically centered modal -->
            <div id="locales" class="modal-dialog modal-dialog-centered ll">
                <h3> Local en Belgrano </h3>
                <p>Belgrano Av. Forest 1184 - C1427CEV -
                    Ciudad de Buenos Aires
                    Teléfono: 4554-1300 / 9100
                    Lunes a Sábados de 10 a 20 hs.
                    Domingos cerrado.</p>
            </div>

            <!-- Vertically centered scrollable modal -->
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ll">
                <h3>Local en Floresta</h3>
                <p>Mariano Acosta 951 - C1407KBS -
                    Ciudad de Buenos Aires
                    Teléfono: +54 9 11 5994-4700
                    Lunes a Sábados de 10 a 20 hs.
                    Domingos cerrado.</p>


            </div>


            <div class="modal-dialog modal-dialog-centered ll">
                <h3>Local en Tablada</h3>
                <p>Agüero 31 (alt. Av. Crovara 1900)
                    Tablada
                    Teléfono: 4655-4736
                    Lunes a Viernes de 8 a 12 hs y de 13 a 17 hs.
                    Domingos cerrado.</p>
            </div>

           <div class="modal-dialog modal-dialog-centered ll">
                <h3>Local en Castelar</h3>
                <p>Lavalleja 28, Castelar (av rivadavia 18600)
                    castelar
                    Teléfono: 4655-8888
                    Lunes a Viernes de 8 a 12 hs y de 13 a 17 hs.
                    Domingos cerrado.</p>
            </div>

        </div>
    </div> <!-- cierra div con id conocemos-->
    <!--fin NOSOTROS -->